<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>tipsntrips.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C0226A5F1D08F59A00A0A866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0226A761D08F59B00A0A866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C0226A811D08F59B00A0A866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
